.site-header.centered {
	.site-branding {
		text-align: center;
		padding: 5px 0;
		width: 100%;
		border-top: 1px solid $color__line;
		border-bottom: 1px solid $color__line;

		.social-list {
			text-align: right;
		}
	}

	.main-navigation {
		text-align: left;
		@include media-breakpoint-up(lg) {
			text-align: center;
		}

		.menu-toggle {
			margin: 5px 0;
			text-align: left;
		}
	}

	@media (min-width: 599px) and (max-width: 767px) {
		.main-navigation ul.menu > li > a {
			font-size: 13px;
		}
	}

	@media (max-width: 599px) {
		.site-branding {
			border-bottom: none;
			padding-top: 10px;
			padding-bottom: 0;
			margin-bottom: -30px;
		}
		.menu-toggle {
			position: relative;
			top: -8px;
		}

		.site-logo__link img{
			max-width: 200px;
		}
	}
}

.site-header.centered + .site-content .breadcrumbs{
	text-align: center;
	& > div {
		display: inline-block;
		@include media-breakpoint-up(xl) {
			margin-left: 57px;
		}
	}
}